:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

header {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,34,166,1) 0%, rgba(0,212,255,1) 100%);
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 0px;
}

h2 {
    font-size: 3.8vh;
    font-weight: 800;
}

h3 {
    font-size: 3vh;
}

main {
    padding: 20px;
}

/*SEARCH FUNCTION START*/
#search-function {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 10px;
}

#search-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-bottom: black solid 1px ;
    border-radius: 0px;
}

form input {
    border: solid 1px;
    padding: 12px;
}


form button {
    background-color: #298af4 ;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Search history */
#search-history {
    display: flex;
    flex-direction: column;
}

#search-history a {
    background-color: #a5b1be ;
    color: rgb(51, 46, 46);
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
}
/* SEARCH FUNCTION END*/

/* DISPLAY STYLES*/
#search-results {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.display-forecast {
    background-color: #d0deed;
    padding: 10px 20px;
}

#future-weather {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 5px;
    column-gap: 5px;
}

.card {
    padding: 10px;
    background-color: #d0deed3e;
}
/*UV Index*/
.uvi-low span{
    background-color: rgba(102, 255, 47, 0.536);
    padding: 5px;
}

.uvi-mod span{
    background-color: rgba(255, 255, 0, 0.508);
    padding: 5px;
}

.uvi-sev span{
    background-color: rgba(255, 0, 0, 0.503);
    padding: 5px;
}
/* END OF DISPLAY STYLES*/

/*Footer*/
footer {
    text-align: center;
}

@media screen and (min-width: 720px) {
    #future-weather {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        flex-shrink: 0;
        flex-wrap: wrap;
    }
}